.main {
  font-family: var(--font-mono);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background:
    radial-gradient(farthest-corner at 7em 40px,
      rgb(32, 0, 90),
      rgba(116, 61, 216, 0.964),
      rgba(128, 91, 198, 0.365),
      rgba(128, 91, 198, 0.365),
      transparent
    ),
    radial-gradient(
      rgb(65, 125, 222),
      rgba(61, 8, 161, 0.964),
      transparent
    );
  background-clip: border-box 
};

.summary {
  padding: 2em;
  margin: 1em;
  font-size: 24px;
  border-radius: 8px;
  backdrop-filter: contrast(200%) blur(200px)
}

.xpHeader {
  color: rgba(251, 251, 255);
  position: absolute;
  font-size: .7em;
  letter-spacing: 2px;
  margin-left: 5em;
  padding-inline: 1em;
  background: rgb(62, 28, 255);
  border: 2px solid rgba(251, 251, 255);
  border-radius: 8px;
  z-index: 1;
}

.scrolling {
  color: whitesmoke;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  margin: 1em 0 0 1em;
  line-height: 1.3em;
  padding: 2em;
  border: 2px solid whitesmoke;
  border-radius: 80px;
}

.links {
  display: flex;
  align-items: center;
}

.logoSVGs {
  display: inherit;
  margin-right: 2em;
  transition: .6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.logoSVGs:hover {
  filter: opacity(40%);
  transition: .6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.name {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: 1em;
  padding-top: 2em;
  letter-spacing: -1px;
}