.main {
  font-family: var(--font-mono);
  color: rgb(96, 96, 176);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background: #dbdbdb;
}

@media screen and (max-width: 480px) {
  .summary {
    max-width: 90vw;
  }

  .summaryIntro {
    display: flex;
    font-size: medium;
  }

  .scrolling {
    font-size: small;
  }
}

@media screen and (min-width: 480px) {
  .dashes {
    display: block;
    margin: 1em 2em;
    border: none;
  }

  .summary {
    width: 40%
  }
}

.summary {
  padding: 2em;
  margin: 2em;
  border: 3px dotted rgb(96, 96, 176);
  /* max-width: 80vw; */
  font-size: 22px;
  line-height: 1.5em;
}

.scrolling {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  line-height: 1.2em;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 auto; */
}

.logoSVGs {
  display: inherit;
  margin-right: 2em;
  transition: .6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.logoSVGs:hover {
  filter: opacity(40%);
  transition: .6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.name {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: 2em;
  letter-spacing: -3px;
}