* {
  font-family: var(--font-mono);
  color: rgb(96, 96, 176);
  transition: .9s cubic-bezier(0.095, 0.82, 0.165, 1);
}

.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background: #dbdbdb;
}

@media screen and (min-width: 480px) {
  .dashes {
    display: block;
    margin: 1em 2em;
    border: none;
  }
}

.summary {
  padding: 2em 7em;
  margin: 0 7em 2em;
  border: 3px dotted rgb(96, 96, 176);
  max-width: 30vw;
  font-size: 22px;
  line-height: 1.5em;

  @media screen and (max-width: 480px) {
    padding: 2em;
  }
}

.navbar {
  height: 4vh;
  display: inherit;
  flex-direction: column;
  justify-content: center;
  font-size: 0.85rem;
  max-width: var(--max-width);
  min-width: 100vw;
  z-index: 2;
  margin-bottom: 1vh;
  filter: contrast(800%), brightness(1000%);
  background: linear-gradient(45deg, rgb(96, 96, 176), rgba(0, 0, 0, 0)), url(https://grainy-gradients.vercel.app/noise.svg);
  @media screen and (max-width: 480px) {
    height: 6vh;
  }
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 auto; */
}

.logoSVGs {
  display: inherit;
  margin-right: 2em;
}

.logoSVGs:hover {
  filter:opacity(40%);
  transition: .9s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.name {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: 2em;
  @media screen and (max-width: 480px) {
    margin-right: 2em;
  };
}

.name:hover {
  filter:invert(20%);
}